.navibar2_component {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
  font-family: "Poppins";
  background: rgba(255, 255, 255, 0.11);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.navibar_align {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.navibar2_logo {
  height: 30px;
  width: auto;
  filter: saturate(100%) invert(40%) sepia(30%) saturate(9000%) hue-rotate(300deg) brightness(200%) contrast(100%);
}

.navibar2_list {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 30px;
}

.navi_bar_link_list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style: none;
  text-decoration: none;
}

.link {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.link_list {
  text-decoration: none;
  color: white;
}

.link_list:hover {
  color: black;
}
