.navibar2_component {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
  font-family: "Poppins";
  background: rgba(255, 255, 255, 0.11);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.navibar_align {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.collapse_icon {
  height: 20px;
  width: auto;
}

.navibar2_logo {
  height: 30px;
  width: auto;
}

.navibar2_icon {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 30px;
}

.qb_style {
  padding: 5px 10px;
  color: #000;
  background-color: rgb(255, 81, 18);
  box-shadow: none;
  border: none;
  cursor: pointer;
}

.qb_style:hover {
  background-color: #fff;
}

.icon {
  filter: invert(99%) sepia(5%) saturate(1031%) hue-rotate(137deg) brightness(121%) contrast(100%);
  height: 25px;
  width: 25px;
}

.icon:hover {
  filter: invert(37%) sepia(52%) saturate(2730%) hue-rotate(338deg) brightness(103%) contrast(103%);
}