.home_page {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100dvw;
    height: 90%;
    background: rgba( 60, 60, 60, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 80px );
    -webkit-backdrop-filter: blur( 80px );
}

.slider {
    display: flex;
    padding-top: 50px;
    align-items: center;
    justify-content: center;
}

.home_page_container {
    display: flex;
    flex-direction: row;
    padding: 0px 50px;
}

.home_page_container_row1 {
    padding: 30px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.tag_button {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-color: #27272c;
}

.box1 {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
    color: #ffff;
    background-color: #27272c;
    border-radius: 45px;
    border: 3px solid #D8A801;
    cursor: pointer;
    text-decoration: none;
}

.box1:hover {
    background-color: #D8A801;
}

.box2 {
    font-size: 20px;
    padding: 10px;
    font-weight: 500;
    color: #ffff;
    background-color: #27272c;
    border-radius: 45px;
    border: 3px solid #000000;
    cursor: pointer;
    text-decoration: none;
}

.box2:hover {
    background-color: #000000;
}

.box3 {
    font-size: 20px;
    padding: 10px;
    font-weight: 500;
    color: #ffff;
    background-color: #27272c;
    border-radius: 45px;
    border: 3px solid #00AD11;
    cursor: pointer;
    text-decoration: none;
}

.box3:hover {
    background-color: #00AD11;
}

.box4 {
    font-size: 20px;
    padding: 10px;
    font-weight: 500;
    color: #ffff;
    background-color: #27272c;
    border-radius: 45px;
    border: 3px solid #0094FF;
    cursor: pointer;
    text-decoration: none;
}

.box4:hover {
    background-color: #0094FF;
}

.box5 {
    font-size: 20px;
    padding: 10px;
    font-weight: 500;
    color: #ffff;
    background-color: #27272c;
    border: 3px solid #FF5050;
    border-radius: 45px;
    cursor: pointer;
    text-decoration: none;
}

.box5:hover {
    background-color: #FF5050;
}

.box6 {
    font-size: 20px;
    padding: 10px;
    font-weight: 500;
    color: #ffff;
    background-color: #27272c;
    border-radius: 45px;
    border: 3px solid #10D7E3;
    cursor: pointer;
    text-decoration: none;
}

.box6:hover {
    background-color: #10D7E3;
}

.box7 {
    font-size: 20px;
    padding: 10px;
    font-weight: 500;
    color: #ffff;
    background-color: #27272c;
    border-radius: 45px;
    border: 3px solid #0007B9;
    cursor: pointer;
    text-decoration: none;
}

.box7:hover {
    background-color: #0007B9;
}

.discover {
    padding: 30px 50px;
    text-align: center;
}

.discover_title {
    padding: 10px;
    border-radius: 30px;
    font-size: 30px;
    color: #fff;
    border: 2px solid #fff;
}

.quiz_section {
    display: flex;
    flex-direction: column;
    background-color: #27272c;
    border-radius: 30px;
    padding: 100px 200px; 
}

.quiz_section_style {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 80px;
}

.quiz_card_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 200px;
    width: 1000px;
}

.quiz_box_link {
    border: 3px solid transparent;
    outline: none;
}

.quiz_box_link:hover {
    border-radius: 45px;
    border: 3px solid #fff;
}

.quiz_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    cursor: pointer;
}

.quiz_img {
    height: 250px;
    width: 250px; 
    border-radius: 45px;
}

.quiz_box_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    height: 80px;
    width: 250px;
    background-color: #ffff;
    border-radius: 0px 0px 45px 45px;
}

.quiz_title {
    font-size: 26px;
    font-weight: 600;
    color: #000;
}

.quiz_creator {
    font-weight: 400;
    font-size: 16px;
    color: #444444;
}

.home_page_container_row2 {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.leaderboard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 50px;
    background-color: #27272c;
    border-radius: 30px;
    text-align: center;
}

.leaderboard_title_link {
    text-decoration: none;
}

.leaderboard_title_box {
    background-color: #fff;
}

.leaderboard_title { 
    color: #000;
    font-size: 24px;
    padding: 0px 30px;
}

.user_leaderboard_box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    text-align: center;

}

.user_leaderboard_layout {
    margin-top: 10px;
    padding: 10px;
    background-color: #444444;
    border-radius: 30px;
}

.user_leaderboard {
    font-size: 18px;
    color: #bebebe;
    font-weight: 500;
}

.users {
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: #27272c;
    border-radius: 30px;
}

.user_title_box {
    background-color: #fff;
}

.user_title {
    text-align: center;
}

.users_name_box {
    text-align: center;
}

.users_name {
    font-size: 18px;
    color: #bebebe;
    font-weight: 500;
    margin-top: 10px;
    padding: 10px;
    background-color: #444444;
    border-radius: 30px;
}

.user_score {
    color: #fff;
    font-size: 14px;
}

.quiz_card {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  
  .quiz_card_img {
    height: 300px;
    width: 300px;
    border-radius: 50px;
  }
  
  .quiz_card_text_bar {
    padding: 10px 0px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -100px;
    height: 100px;
    width: 300px;
    border-radius: 0px 0px 50px 50px;
    gap: 5px;
  }
  
  .quiz_card_title {
    color: #2b2b2b;
    font-size: 20px;
    font-weight: normal;
  }
  
  .quiz_card_question_count {
    color: #6e6e6e;
    font-size: 16px;
    font-weight: 550;
  }
  
  .quiz_card_time_set {
    color: #6e6e6e;
    font-size: 16px;
    font-weight: 550;
  }
  
  .modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: fixed;
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding: 20px;
  }
  
  .modal_content {
    background-color: rgba(255, 255, 255, 0.856);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 300px;
    border-radius: 25px;
    gap: 30px;
    /* You can set a max-width */
  }
  
  .popup_close_button1 {
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #fff;
    font-size: 30px;
    font-family: "Poppins", Helvetica;
    font-style: normal;
    font-weight: 800;
    cursor: pointer;
  }
  
  .popup_close_button1:hover {
    background-color: #ff3a3a;
  }
  
  .popup_button {
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 20px;
    margin-bottom: 18px;
    border-radius: 8px;
    border-width: 1px;
    background-color: #a7a5a5;
    color: #000000;
    cursor: pointer;
    border: none;
  }
  
  .popup_button:hover {
    background-color: #000000;
    color: #ffffff;
  }
  
  .popup_input {
    padding: 10px 40px;
    text-align: center;
    font-size: 20px;
    font-family: Helvetica;
    border: 3px solid #000000;
    border-radius: 8px;
  }
  
  .popup_input::placeholder {
    text-align: center;
  }
  
  .popup_close_button2 {
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #fff;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 800;
    cursor: pointer;
  }
  
  .popup_close_button2:hover {
    background-color: #ff3a3a;
  }
  
  .popup_text {
    text-align: center;
    font-family: "Poppins", Helvetica;
    font-size: 30px;
    margin-top: 15px; /* Add space between heading and buttons */
  }
  

/* Screen size 768px

@media (max-width: 768px) {
   .home_page_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   }
  }
  
  /* Screen size 450px 
  
  @media (max-width: 368px) {
    .home_page_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
       }
  } */