.quiz_create_page {
    background: rgba( 60, 60, 60, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 80px );
    -webkit-backdrop-filter: blur( 80px );
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quiz_page_align {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category_area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    gap: 20px;
}

.category_text {
    font-style: bold;
    letter-spacing: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.drop_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    border: 2px solid #fff;
    border-radius: 30px;
    background-color: transparent;
}

.drop_menu_item {
    color: #000;
    background-color: transparent;
}

.quiz_title_area {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.quiz_title {
    font-size: 30px;
    color: #fff;
    text-align: center;
}

.quiz_title_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 250px;
    border: 2px solid #fff;
    border-radius: 30px;
    background-color: transparent;
}

.quiz_title_box::placeholder {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

.question_area {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.question_area_title_text {
    text-align: center;
    font-size: 30px;
    color: #fff;
    padding-bottom: 20px;
}

.question_section {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    gap: 10px;
}

.answer_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.answer_list_aligment {
    display: flex;
    flex-direction: column;
}

.question_number {
    color: #fff;
    text-align: center;
    padding-bottom: 20px;
}

.q_box {
    padding-left: 30px;
    height: 100px;
    width: 50rem;
    border-radius: 30px;
    border: none;
}

.answer_area {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.answer_section {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.check_boxes_list_aligment {
    display: flex;
    flex-direction: row;
}

.check_boxes {
    border: 2px solid #fff;
    background-color: transparent;

}

.answer_box {
    padding: 10px 40px;
    border: 2px solid #fff;
    background-color: transparent;
    border-radius: 30px;
    color: #fff;
}

.answer_box::placeholder {
    color: #fff;
    text-align: center;
}

.button_container2 {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add_button {
    width: 100px;
    height: 30px;
    text-align: center;
    border-radius: 20px;
    border: 2px solid #fff;
    background-color: #fff;
    cursor: pointer;
}

.add_button:hover {
    background-color: #979797;
    border: 2px solid #979797;
}

.down_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.time_set_section {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 10px;
    padding: 50px;
}

.info {
    padding: 10px 100px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    border: 2px solid #fff;
}

.min_section {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.time_text_min {
    font-size: 20px;
    color: #fff;
}

.sec_section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.time_box {
    padding: 5px;
    width: 50px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 10px;
}

.time_box::placeholder {
    color: #fff;
}

.num_question_section {
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 10px;
}

.num_question_text {
    padding: 10px 100px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    border: 2px solid #fff;
}

.num_question_box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 30px;
    padding: 10px;
    width: 100px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.save_button {
    width: 100px;
    height: 30px;
    text-align: center;
    border-radius: 20px;
    border: 2px solid #fff;
    background-color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 550;
}

.save_button:hover {
    background-color: #979797;
    border: 2px solid #979797;
}

.deleteIcon {
    font-weight: bold;
    height: 25px;
    width: auto;
}

.delete_button {
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border: 2px solid #fff;
    cursor: pointer;
}

.delete_button:hover {
    background-color: #979797;
    border: 2px solid #979797;
}