* {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

.r_page {
    height: 90dvh;
    width: 100dvw;
    background: rgba( 60, 60, 60, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 80px );
    -webkit-backdrop-filter: blur( 80px );
}

.register_box {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.register_page_name {
    padding: 50px 100px 0 100px;
    text-align: center;
    justify-content: center;
    color: #fff;
    font-size: 90px;
    font-weight: 600;
}

.reg_form {
    place-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 100px 100px 100px;
}

.reg_input_box {
    margin: 20px;
}

.reg_input {
    gap: 50px;
    position: relative;
    height: 50px;
    width: 300px;
    padding: 0 30px;
    border-radius: 30px;
    box-shadow: none;
    border: 3px none;
    color: aliceblue;
    border: 2px solid #fff;
    background-color: transparent;
    text-decoration: none;
    font-size: 20px;
}


.reg_input::placeholder {
    font-family: "Poppins";
    font-weight: 400;
    top: 14px;
    left: 2rem;
    position: absolute;
    color: #fff;
    background-color: transparent;
    font-size: 20px;
}

.reg_lable {
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 400;
    display: none;
}

/* Button */

.register_button {
    position: relative;
    overflow: hidden;
    transition: color .5s;
    padding: 15px 40px;
    margin: 30px;
    background-color: #ffffff;
    border-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    cursor: pointer;
}

.register_button:hover {
    background-color:#ff4a3d;
    border-color: #ff4a3d;
}

/* Login Path */

.lselection {
    width: 600px;
    place-items: center;
    position: relative;
  }
  
  .ltext {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    justify-content: center;
    color: #fff;
  }
  
  .llink {
    font-size: 18px;
    font-weight: 550;
    text-decoration: none;
    color: #000000;
  }

.llink:hover {
    color:#FC5245;
}