.contact_page {
    font-family: "Poppins";
    background: rgba( 60, 60, 60, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 80px );
    -webkit-backdrop-filter: blur( 80px );
    height: 90dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
}

.page_title {
    padding: 5px;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
}

.title_name {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 3px;
}

.contact_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

.contact_text_align {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact_text {
    color: #fff;
    font-size: 28px;
    font-weight: 600;
}

.gold {
    font-weight: 400;
    font-size: 24px;
    color: #000;
}

.social_icons {
    display: flex;
    flex-direction: column;
    place-items: center;
}

.icon_align {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.link {
    text-decoration: none;
    font-size: 18px;
    color: #000;
}

.link:hover {
    color: #fff;
}