.create_and_play_page {
  background: rgba( 60, 60, 60, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 80px );
  -webkit-backdrop-filter: blur( 80px );
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100dvw;
}

.page_aligement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  place-items: center;
}

.button_container {
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.play_button {
  background-color: #fff;
  font-size: 14px;
  font-weight: 600;
  border: none;
  box-shadow: none;
  border-radius: 20px;
  padding: 15px 50px;
}

.play_button:hover {
  background-color: #ff3a3a;
}

.create_button {
  background-color: #fff;
  font-size: 14px;
  font-weight: 600;
  border: none;
  box-shadow: none;
  border-radius: 20px;
  padding: 15px 50px;
}

.create_button:hover {
  background-color: #ff3a3a;
}

.created_quizzes_title_bar {
  width: 100dvw;
  height: 50px;
  background-color: #fff;
  text-align: center;
}

.created_quizzes_title_text {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 30px;
  padding: 5px;
  text-align: center;
}

.quiz_card_container {
  padding: 100px;
  display: flex;
  row-gap: 40px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.quiz_card {
  display: flex;
  flex-wrap: wrap;
  background-size: cover;
  border-radius: 30px 30px 30px 30px;
  height: 300px;
  position: relative;
  width: 300px;
  z-index: 1;
}

.img {
  height: 300px;
  left: 0;
  position: absolute;
  top: 0;
  width: 300px;
}

.text_bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  text-align: center;
  background-color: #d9d9d9;
  border-radius: 0px 0px 30px 30px;
  height: 100px;
  position: relative;
  top: 200px;
  width: 300px;
  cursor: pointer;
}

.text_bar:hover {
  background-color: #bcbcbc;
}

.title {
  color: #000000;
  font-weight: 500;
  font-family: Helvetica;
  justify-content: center;
  font-size: 18px;
}

.questionCount {
  color: #000000;
  font-family: Helvetica;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
}

.timeSet {
  color: #000000;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: 400;
}


.quizzify_quiz_system {
  color: var(--gray-300);
  font-family: "Public Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 0.1px;
  margin-bottom: -6px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: 1320px;
}

.nav_bar_instance {
  left: 0 !important;
  position: relative !important;
  top: 0 !important;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding: 20px;
}

.modal_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f9db24;
  margin: auto;
  padding: 40px;
  border-radius: 25px;
  width: 450px;
  height: 320px;
  /* You can set a max-width */
}

.modal_content h2 {
  text-align: center;
  font-family: "Poppins", Helvetica;
  font-size: 27px;
  margin-bottom: 30px; /* Add space between heading and buttons */
}

.modal_content p {
  font-weight: bold;
  font-family: "Poppins", Helvetica;
  font-size: 18px;
  margin-bottom: 70px;
  margin-top: -20px; /* Add space between paragraph and buttons */
}

.modal_content button {
  font-family: Helvetica;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  margin-bottom: 18px;
  border-radius: 8px;
  border-width: 1px;
  background-color: #d7d7d7;
  color: #000000;
  cursor: pointer;
}

.modal_content button:hover {
  background-color: #000000;
  color: #ffffff;
}

.Button1 {
  font-family: sans-serif;
  font-size: 25px;
  font-weight: bolder;
  padding: 8px 12px;
  position: relative;
  top: 0;
  right: 0;
  margin-left: 470px;
  margin-right: 10px; /* Add space between h2 and button1 */
  margin-top: -10px;
  border-radius: 8px;
  border-width: 1px;
  background-color: transparent;
  color: #000000;
  cursor: pointer;
}

.Button1:hover {
  background-color: #ff0000;
  color: #ffffff;
}

.Input1 {
  margin-bottom: 35px;
  height: 32px;
  padding-left: 8px;
  font-size: 20px;
  font-family: Helvetica;
  border-radius: 8px;
  margin-right: 10px;
}

.p_modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding: 20px;
}

.p_modal_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f9db24;
  margin: auto;
  padding: 40px;
  border-radius: 25px;
  width: 450px;
  height: 320px;
  /* You can set a max-width */
}

.p_modal_content h2 {
  text-align: center;
  font-family: "Poppins", Helvetica;
  font-size: 27px;
  margin-top: 15px; /* Add space between heading and buttons */
}

.p_modal_content p {
  font-family: "Poppins", Helvetica;
  font-size: 18px;
  margin-bottom: 20px; /* Add space between paragraph and buttons */
}

.p_modal_content button {
  font-family: Helvetica;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  margin-bottom: 18px;
  border-radius: 8px;
  border-width: 1px;
  background-color: #d7d7d7;
  color: #000000;
  cursor: pointer;
}

.p_modal_content button:hover {
  background-color: #000000;
  color: #ffffff;
}

.Button1 {
  font-family: sans-serif;
  font-size: 25px;
  font-weight: bolder;
  padding: 8px 12px;
  position: absolute;
  margin-left: 470px;
  margin-right: 15px; /* Add space between h2 and button1 */
  margin-top: -325px;
  border-radius: 8px;
  border-width: 1px;
  background-color: transparent;
  color: #000000;
  cursor: pointer;
}

.Button1:hover {
  background-color: #ff0000;
  color: #ffffff;
}

.Input1 {
  margin-top: 90px;
  margin-bottom: 25px;
  height: 32px;
  padding-left: 8px;
  font-size: 20px;
  font-family: Helvetica;
  border-radius: 8px;
}
