.main_style {
    font-family: "Poppins";
    background: rgba( 60, 60, 60, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 80px );
    -webkit-backdrop-filter: blur( 80px );
    height: 90dvh;
    width: 100dvw;
}

.help_section {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    justify-content: space-around;
    align-items: center;
}

.box_align {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.box_text {
    width: 400px;
}

.main_align1 {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.box1 {
    display: flex;
    gap: 20px;
    padding: 30px;
    border: 3px solid #fff;
}

.box1:hover {
    border: 3px solid rgb(255, 62, 62);
}

.box2 {
    display: flex;
    gap: 20px;
    padding: 30px;
    border: 3px solid #fff;
}

.box2:hover {
    border: 3px solid rgb(255, 62, 62);
}

.box3 {
    display: flex;
    gap: 20px;
    padding: 30px;
    border: 3px solid #fff;
}

.box3:hover {
    border: 3px solid rgb(255, 62, 62);
}

.main_align2 {
    display: flex;
    flex-direction: row;
    gap: 100px;
}


.box4 {
    display: flex;
    gap: 20px;
    padding: 30px;
    border: 3px solid #fff;
}

.box4:hover {
    border: 3px solid rgb(255, 62, 62);
}

.box5 {
    display: flex;
    gap: 20px;
    padding: 30px;
    border: 3px solid #fff;
}

.box5:hover {
    border: 3px solid rgb(255, 62, 62);
}

.box6 {
    display: flex;
    gap: 20px;
    padding: 30px;
    border: 3px solid #fff;
}

.box6:hover {
    border: 3px solid rgb(255, 62, 62);
}

.box_link {
    text-decoration: none;
    color: #fff;
    background-color: transparent;
}

.box_link:hover {
    color: rgb(255, 62, 62);
}

.comment_form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.input_box {
    width: 300px;
    height: 30px;
    border: 2px solid #fff;
    background-color: transparent;
    border-radius: 10px;
}

.input_box::placeholder {
    padding: 10px;
    color: black;
    font-size: 14px;
    font-weight: bold;
}

.comment_button {
    height: 30px;
    width: 70px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid #fff;
    color: #000;
    font-weight: bold;
    font-size: 14px;
}

.comment_button:hover {
    color: black;
    font-weight: bold;
    font-size: 14px;
    background-color: rgb(255, 62, 62);
    border: 2px solid rgb(255, 62, 62);
}

.box_tile {
    font-size: 30px;
    color: #F9DB24;
}

.box_description {
    font-size: 18px;
    color: #F9DB24;
}

.Text {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text_style {
    font-size: 18px;
    color: #000;
    font-weight: 500;
    letter-spacing: 3;
}