.home_page {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100dvw;
    background: rgba( 60, 60, 60, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 80px );
    -webkit-backdrop-filter: blur( 80px );
}

.slider {
    display: flex;
    padding-top: 50px;
    align-items: center;
    justify-content: center;
}

.home_page_container {
    display: flex;
    flex-direction: row;
    padding: 0px 50px;
}

.home_page_container_row1 {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.tag_button {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-color: #27272c;
}

.box1 {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
    color: #ffff;
    background-color: #27272c;
    border-radius: 45px;
    border: 3px solid #D8A801;
    cursor: pointer;
    text-decoration: none;
}

.box1:hover {
    background-color: #D8A801;
}

.box2 {
    font-size: 20px;
    padding: 10px;
    font-weight: 500;
    color: #ffff;
    background-color: #27272c;
    border-radius: 45px;
    border: 3px solid #000000;
    cursor: pointer;
    text-decoration: none;
}

.box2:hover {
    background-color: #000000;
}

.box3 {
    font-size: 20px;
    padding: 10px;
    font-weight: 500;
    color: #ffff;
    background-color: #27272c;
    border-radius: 45px;
    border: 3px solid #00AD11;
    cursor: pointer;
    text-decoration: none;
}

.box3:hover {
    background-color: #00AD11;
}

.box4 {
    font-size: 20px;
    padding: 10px;
    font-weight: 500;
    color: #ffff;
    background-color: #27272c;
    border-radius: 45px;
    border: 3px solid #0094FF;
    cursor: pointer;
    text-decoration: none;
}

.box4:hover {
    background-color: #0094FF;
}

.box5 {
    font-size: 20px;
    padding: 10px;
    font-weight: 500;
    color: #ffff;
    background-color: #27272c;
    border: 3px solid #FF5050;
    border-radius: 45px;
    cursor: pointer;
    text-decoration: none;
}

.box5:hover {
    background-color: #FF5050;
}

.box6 {
    font-size: 20px;
    padding: 10px;
    font-weight: 500;
    color: #ffff;
    background-color: #27272c;
    border-radius: 45px;
    border: 3px solid #10D7E3;
    cursor: pointer;
    text-decoration: none;
}

.box6:hover {
    background-color: #10D7E3;
}

.box7 {
    font-size: 20px;
    padding: 10px;
    font-weight: 500;
    color: #ffff;
    background-color: #27272c;
    border-radius: 45px;
    border: 3px solid #0007B9;
    cursor: pointer;
    text-decoration: none;
}

.box7:hover {
    background-color: #0007B9;
}

.quiz_section_style {
    background-color: #27272c;
    border-radius: 30px;
    padding: 100px 200px; 
}

.quiz_section_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 80px;
}

.quiz_box_link {
    border: 3px solid transparent;
    outline: none;
}

.quiz_box_link:hover {
    border-radius: 45px;
    border: 3px solid #fff;
}

.quiz_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    cursor: pointer;
}

.quiz_img {
    height: 250px;
    width: 250px; 
    border-radius: 45px;
}

.quiz_box_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    height: 80px;
    width: 250px;
    background-color: #ffff;
    border-radius: 0px 0px 45px 45px;
}

.quiz_title {
    font-size: 26px;
    font-weight: 600;
    color: #000;
}

.quiz_creator {
    font-weight: 400;
    font-size: 16px;
    color: #444444;
}

.home_page_container_row2 {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.leaderboard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 50px;
    background-color: #27272c;
    border-radius: 30px;
    text-align: center;
}

.leaderboard_title_link {
    text-decoration: none;
}

.leaderboard_title_box {
    background-color: #fff;
}

.leaderboard_title { 
    color: #000;
    font-size: 24px;
    padding: 0px 30px;
}

.user_leaderboard_box {
    justify-content: center;
    text-align: center;
}

.user_leaderboard {
    font-size: 18px;
    color: #bebebe;
    font-weight: 500;
}

.users {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 50px;
    background-color: #27272c;
    border-radius: 30px;
}

.user_title_box {
    background-color: #fff;
}

.user_title {
    text-align: center;
}

.users_name_box {
    text-align: center;
}

.users_name {
    font-size: 18px;
    color: #bebebe;
    font-weight: 500;
}

/* Screen size 768px

@media (max-width: 768px) {
   .home_page_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   }
  }
  
  /* Screen size 450px 
  
  @media (max-width: 368px) {
    .home_page_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
       }
  } */