  .login_page {
    height: 90dvh;
    width: 100dvw;
    background: rgba( 60, 60, 60, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 80px );
    -webkit-backdrop-filter: blur( 80px );
    font-family: "Poppins";
    display: flex;
    flex-direction: column;
    place-items: center;
    
}
  
  /* Page Name*/
  
.page_name {
    text-align: center;
    padding: 150px 100px 0;
    color: #fff;
    font-size: 90px;
    font-weight: 600;
}
  
  /* Login Form */

.text_box {
    place-content: center;
    position: relative;
    display: flex;
    flex-direction: column;
}
  
.input_box {
    margin-top: 30px;
    height: 50px;
    width: 400px;
    outline: none;
    font-size: 20px;
    font-weight: 400;
    padding: 0 12px;
    border-radius: 20px;
    border: 3px solid #fff;
    background: transparent;
    transition: 0.1s ease;
    cursor: pointer;
    color: #ffffff;
}

.input_box::placeholder {
    font-family: "Poppins";
    color: #fff;
}

label {
    display: none;
}
  
  /* Button */

.login_button_container {
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login_button1 {
    transition: color 1s;
    padding: 15px 40px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    box-shadow: inset 5px 5px -3px #ffffff;
    cursor: pointer;
}
  
.login_button:hover {
    background-color:#ff4a3d;
    border-color: #ff4a3d;
}
  
  /* Forget Section */
  
.forget_password {
    position: relative;
    padding: 20px 30px 0 ;
}

.ftext {
    font-size: 22px;
    font-weight: 400;
    text-align: center;
}
  
.flink {
    text-decoration: none;
    color: #D6D6D6;
}
  
  /* Sign Up Section */
  
.sign_up_text {
    font-size: 18px;
    text-align: center;
    position: relative;
    padding: 20px 0 140px 0;
    color: #D6D6D6;
}
  
.slink {
    text-decoration: none;
    color: #000000;
}

.slink:hover {
    color: #ff4a3d;   
}