.player_landing_page {
  width: 100%;
  height: 88.9dvh;
  background: rgba( 60, 60, 60, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 80px );
  -webkit-backdrop-filter: blur( 80px );
}

.player_landing_page_aligment {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top_item_layout {
  padding: 50px 200px;
  display: flex;
  justify-content: space-between;
}

.players_joined_div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 3px solid #fff;
  padding: 20px 50px;
  text-align: center;
}

.players_joined_text {
  color: #fff;
  font-size: 30px;
}

.num_joined_players {
  color: #000;
  font-weight: bold;
  font-size: 26px;
}

.game_pin_div {
  display: flex;
  flex-direction: column;
  border: 3px solid #fff;
  padding: 20px 50px;
  text-align: center;
  gap: 20px;
}

.game_pin_text {
  font-size: 30px;
  color: #fff;
}

.game_pin_no_div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.img {
  height: 30px;
  width: 30px;
}

.game_pin {
  color: #000;
  font-weight: bold;
  font-size: 26px;
}

.time_countdown_div {
  display: flex;
  flex-direction: column;
  border: 3px solid #fff;
  padding: 20px 50px;
  text-align: center;
  gap: 20px;

}

.countdown_no_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

.time_left_numbers {
  color: #000;
  font-weight: bold;
  font-size: 26px;
}

.starts_in_text {
  color: #fff;
  font-size: 30px;
  font-weight: bold
}

.p_link_game_pin_div {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.p_link_pin_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.p_link_copy_button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 20px;
  padding: 5px 10px; 
  cursor: pointer;
}

.p_link_img {
  height: 30px;
  width: 30px;
}

.p_link {
  color: #000;
  font-size: 16px;
  font-weight: bold;
}

.bottom_layout {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.quiz_title_div {
  margin: 0px 700px;
  padding: 10px;
  text-align: center;
  border: 3px solid #fff;
  border-radius: 30px;
}

.quiz_title_text {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.no_questions_div {
  margin: 0px 800px;
  padding: 20px;
  border: 3px solid #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.no_question {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.no_questions_number {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.start_session_button_container {
  margin: 0px 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.start_session_button {
  padding: 10px 0px;
  background-color: #fff;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.start_session_button:hover {
  background-color: #5a5a5a;
  color: #fff;
}

.popup_modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.popup_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: rgba(175, 175, 175, 0.877);
  border-radius: 25px;
  width: 600px;
  height: 400px;
}

.popup_text_name {
  text-align: center;
  font-family: "Poppins", Helvetica;
  font-size: 30px;
}

.nickname {
  padding: 10px 30px;
  border: 3px solid #000;
  border-radius: 30px;
  color: #000;
  font-weight: bold;
  text-align: center;
}

.nickname::placeholder {
  text-align: center;
  font-size: 14px;
  color: #000;
  font-weight: bold
}

.enter_button_container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.enter_button {
  padding: 10px 30px;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

.enter_button:hover {
  background-color: #6b6b6b;
}